@import "./vars";
@import "./buttons";

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}